<!DOCTYPE html>
<html>
  <head>
    <title>PartnerOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <div class='nav'>
      <% if user_signed_in? %>
        <p>You are currently logged in as: <%= current_user.email %></p>
        <%= button_to 'Log-out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= button_to 'Sign-in', new_user_session_path %>
      <% end %> <br>
    </div>
    <%= button_to 'Home', :root, method: :get%>

    <%= yield %>
  </body>
</html>
